<footer class="footer" id="footer">
    <div class="container footer-container">
        <a class="footer_logo">
            LLOYD<span class="footer_logo_span">JEFFERSON.</span>
        </a>
        <ul class="footer_social_list">
            <li class="footer_list_item">
                <a href="https://www.instagram.com/goitclub/" class="footer_list_link">Instagram</a>
            </li>
            <li class="footer_list_item">
                <a href="https://www.facebook.com/goITclub/" class="footer_list_link">Facebook</a>
            </li>
            <li class="footer_list_item">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                    class="footer_list_link">LinkedIn</a>
            </li>
            <li class="footer_list_item">
                <a href="https://github.com/tsaigetsu/goit-js-project-05" class="footer_list_link">GitHub</a>
            </li>
        </ul>
    </div>
    <div class="footer_copy">
        <a class="footer_copy_link" href="../index.html">&copy; Copyright 2024. Made by
            LloydJefferson</a>
    </div>

    </div>
</footer>


<!--
    Внимательно проверяем файл styles.css и смотрим, что там прописано, чтобы не придумывать заново велосипед, а использовать руты и стандартный контейнер. 
    Название и id секции не меняем, работаем только со своим html и css партиалами. 
    Название классов должны в начале включать названи секции, пример: "header_nav", "hero_mainHeading".
    Работаем только в своей ветке, в ветку main ничего не пушим. 
    Название пуша должна содержать название секции, название элемента над которым работаете и номер обновления.
    Пример: header_html_nr3, hero_css_nr7, footere_adaptive_nr13
-->