<section class="hero" id="hero">
  <div class="container hero_content">
    <h1 class="hero_title" data-aos="fade-right">
      hello, i am<picture class="hero_image-container">
        <source srcset="./img/hero/img.jpg 1x, ./img/hero/img@2x.jpg" />
        <img
          class="hero_image"
          src="./img/hero/img.jpg"
          alt="Lloyd Jefferson"
          width="108"
        /> </picture
      ><span class="hero_title_span">FULLSTACK DEVELOPER</span>
    </h1>
    <!-- button -->
    <div class="hero_button-and-text" data-aos="fade-left">
      <a href="#workTogether" class="hero_text btn_txt">
        <svg class="hero_icon">
          <use href="./public/symbol-defs.svg#icon-hero_arrow"></use>
        </svg>Order the project
      </a>

      <!-- text -->
      <p class="hero_text hero_descr">
        I work with people all over the world to create
        <span class="hero_text_color">impressive</span> and
        <span class="hero_text_color">functional websites</span> that reflect
        each client's unique personality.
      </p>
    </div>
  </div>

  <!-- social media -->
  <div class="social_media">
    <ul class="social_list">
      <li class="social_list_item">
        <a href="https://www.instagram.com/goitclub/" class="social_list_link" target="_blank">Instagram</a
        >
      </li>
      <li class="social_list_item">
        <a href="https://www.facebook.com/goITclub/" class="social_list_link" target="_blank">Facebook</a
        >
      </li>
      <li class="social_list_item">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          class="social_list_link" target="_blank">LinkedIn</a
        >
      </li>
      <li class="social_list_item">
        <a
          href="https://github.com/tsaigetsu/goit-js-project-05"
          class="social_list_link" target="_blank">GitHub</a
          >
      </li>
    </ul>
  </div>
</section>
