<!--
    Внимательно проверяем файл styles.css и смотрим, что там прописано, чтобы не придумывать заново велосипед, а использовать руты и стандартный контейнер. 
    Название и id секции не меняем, работаем только со своим html и css партиалами. 
    Название классов должны в начале включать названи секции, пример: "header_nav", "hero_mainHeading".
    Работаем только в своей ветке, в ветку main ничего не пушим. 
    Название пуша должна содержать название секции, название элемента над которым работаете и номер обновления.
    Пример: header_html_nr3, hero_css_nr7, footere_adaptive_nr13
-->
<section class="hero" id="hero">
  <div class="container hero-container">
    <span class="hero_headline">HELLO, I AM</span>
    <span class="hero_span">FULLSTACK DEVELOPER</span>
  </div>

  <div class="hero_button">
    <p class="hero_text">Order the project</p>
  </div>

  <p class="hero_text">
    I work with people all over the world to create
    <span class="hero_text_color">impressive</span> and
    <span class="hero_text_color">functional websites</span> that reflect each
    client’s unique personality.
  </p>

  <ul class="social_list">
    <li class="social_list_item">
      <a href="https://www.instagram.com/goitclub/" class="social_list_link"
        >Instagram</a
      >
    </li>
    <li class="social_list_item">
      <a href="https://www.facebook.com/goITclub/" class="social_list_link"
        >Facebook</a
      >
    </li>
    <li class="social_list_item">
      <a
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        class="social_list_link"
        >LinkedIn</a
      >
    </li>
    <li class="social_list_item">
      <a
        href="https://github.com/tsaigetsu/goit-js-project-05"
        class="social_list_link"
        >GitHub</a
      >
    </li>
  </ul>
</section>
