<section class="reviews" id="reviews">
  <div class="container reviews_container">
    <h2 class="reviews_title" data-aos="fade-down">Reviews</h2>

    <!-- Swiper -->
    <div class="reviews_swiper">
      <ul class="swiper-wrapper reviews_list" id="reviews_list"></ul>
      <div class="review_arrows">
        <div class="button_prev disabled">
          <svg class="review_icon_prev" width="24" height="24">
            <use href="./img/symbol-defs-2.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
        <div class="button_next">
          <svg class="review_icon_next" width="24" height="24">
            <use href="./img/symbol-defs-2.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
    Внимательно проверяем файл styles.css и смотрим, что там прописано, чтобы не придумывать заново велосипед, а использовать руты и стандартный контейнер. 
    Название и id секции не меняем, работаем только со своим html и css партиалами. 
    Название классов должны в начале включать названи секции, пример: "header_nav", "hero_mainHeading".
    Работаем только в своей ветке, в ветку main ничего не пушим. 
    Название пуша должна содержать название секции, название элемента над которым работаете и номер обновления.
    Пример: header_html_nr3, hero_css_nr7, footere_adaptive_nr13
-->
