<section class="techSkills" id="techSkills">
    <h2 class="techSkills-title visually-hidden">Tech Skills</h2>
    <div class="techSkills-marquee top">
        <div class="marquee-inner">
            <ul class="marquee-line">
                <li class="marquee-line-element">HTML/CSS</li>
                <li class="marquee-line-element">JAVASCRIPT</li>
                <li class="marquee-line-element">REACT</li>
                <li class="marquee-line-element">NODE.JS</li>
                <li class="marquee-line-element">REACT NATIVE</li>
                <li class="marquee-line-element">TYPESCRIPT</li>
            </ul>
            <ul class="marquee-line">
                <li class="marquee-line-element">HTML/CSS</li>
                <li class="marquee-line-element">JAVASCRIPT</li>
                <li class="marquee-line-element">REACT</li>
                <li class="marquee-line-element">NODE.JS</li>
                <li class="marquee-line-element">REACT NATIVE</li>
                <li class="marquee-line-element">TYPESCRIPT</li>
            </ul>
        </div>
    </div>
    <div class="techSkills-marquee bot">
        <div class="marquee-inner">
            <ul class="marquee-line">
                <li class="marquee-line-element">TYPESCRIPT</li>
                <li class="marquee-line-element">REACT NATIVE</li>
                <li class="marquee-line-element">NODE.JS</li>
                <li class="marquee-line-element">REACT</li>
                <li class="marquee-line-element">JAVASCRIPT</li>
                <li class="marquee-line-element">HTML/CSS</li>
            </ul>
            <ul class="marquee-line">
                <li class="marquee-line-element">TYPESCRIPT</li>
                <li class="marquee-line-element">REACT NATIVE</li>
                <li class="marquee-line-element">NODE.JS</li>
                <li class="marquee-line-element">REACT</li>
                <li class="marquee-line-element">JAVASCRIPT</li>
                <li class="marquee-line-element">HTML/CSS</li>
            </ul>
        </div>
    </div>
</section>

<!--
    Внимательно проверяем файл styles.css и смотрим, что там прописано, чтобы не придумывать заново велосипед, а использовать руты и стандартный контейнер. 
    Название и id секции не меняем, работаем только со своим html и css партиалами. 
    Название классов должны в начале включать названи секции, пример: "header_nav", "hero_mainHeading".
    Работаем только в своей ветке, в ветку main ничего не пушим. 
    Название пуша должна содержать название секции, название элемента над которым работаете и номер обновления.
    Пример: header_html_nr3, hero_css_nr7, footere_adaptive_nr13
-->