.about-me {
  padding-top: 80px;
  padding-bottom: 80px;
}


.about-me-title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}

.me {
  color: var(--accet-green);
}

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.picture-aboutme {
  border-radius: 16px;
  width: 320px;
  height: 374px;
}
.picture-aboutme:hover{
transform: scale(1.05);}


.bio-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: left;
}

.bio-body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.about-me-item {
  position: relative;
  padding-left: 18px;
  padding-bottom: 12px;
}

.about-me-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: var(--accet-green);
}

.education-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .about-me-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .about-me-container {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

.picture-aboutme {
    width: 336px;
    height: 392px;
  }

  .bio-title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .bio-block,
  .picture-block,
  .education,
  .role-block {
    flex: 1 1 50%;
  }

  .picture-block {
    align-self: flex-end;
  }

  .bio-block {
    padding-bottom: 80px;
  }

  .education-block {
    flex-direction: row;
    gap: 32px;
    margin-top: 60px;
  }

  .about-me-item {
    padding-bottom: 16px;
  }

  .my-section {
    background-image: url('../img/about-me-decor-bg-2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: right 7% bottom 17%;
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .about-me-container {
    gap: 136px;
    padding-left: 208px;
  }

  .picture-aboutme {
    margin-top: 312px;
    width: 384px;
    height: 448px;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .bio-block {
    align-self: start;
  }

  .education-block{
    gap: 136px;
    margin-top: 80px;
    padding-left: 208px;
  }

  .my-section {
    background-position: right 4% bottom 25%;
  }
}

