/* .dark {
    background-color: var(--black);
    color: var(--white);

    .footer_logo {
        color: var(--white);
    }

    .footer_copy_link {
        color: var(--white);
    }
} */
.footer {
    border-top: 1px solid var(--light-grey);
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 24px;
}

.footer_logo {
    font-family: var(--second-family);
    font-size: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer_logo_span {
    color: var(--accet-green);
}

.footer_social_list {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.footer_list_item {
    font-family: var(--font-family);
}

.footer_copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 197px;
    padding: 40px 60px 20px;
    box-sizing: content-box;
}

.footer_copy_link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    width: 197px;
    box-sizing: content-box;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_list_link:hover,
.footer_list_link:focus {
    color: var(--accet-green);
}

@media screen and (min-width: 768px) {
    .footer_social_list {
        flex-direction: row;
        margin-bottom: 0;
    }

    .footer_copy {
        width: auto;
        align-items: flex-end;
    }

    .footer_copy_link {
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    .footer_social_list {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_copy {
        width: auto;
        box-sizing: border-box;
        align-items: flex-end;
    }

    .footer_copy_link {
        width: auto;
    }
}