.hero {
  padding-top: 176px;
  width: 100%;
  height: 100%;
  background-image: url('../img/hero/decor-bg-mob.png');
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
  z-index: -2;
}

.hero_title {
  margin-bottom: 40px;
  font-family: var(--second-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.hero_title_span {
  color: var(--accet-green);
}
.hero_image-container {
  display: none;
}
.hero_image {
  border-radius: 16px;
}
.hero_button-and-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 72px;
}
.hero_icon {
  fill: var(--accet-green);
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.btn_txt {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 92px;
}
.btn_txt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 120px;
  width: 165px;
  height: 92px;
  background-color: rgba(120, 0, 176, 0.2);
  border-radius: 16px;
  z-index: -1;
}
.btn_txt:hover::before {
  background-color: rgba(96, 55, 153, 0.6);
}
.hero_text {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.01px;
  text-transform: uppercase;
}

.hero_text_color {
  color: var(--accet-green);
}

/* -----social media------ */
.social_list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--light-grey);
}
.social_list_item {
  font-family: var(--font-family);
  text-align: center;
}
.dark-mode-on {
  .social_list {
    background-color: #2a2d32;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 184px;
    background-image: url('../img/hero/decor-bg-tab.png');
    background-position: left 50% top 106px;
  }
  .hero_title {
    font-size: 136px;
    line-height: 1.14;
    margin-bottom: 60px;
  }
  .hero_button-and-text {
    margin-bottom: 80px;
  }
  .btn_txt {
    height: 96px;
  }
  .btn_txt::before {
    width: 261px;
    height: 96px;
    left: 135px;
  }
  .hero_text {
    font-size: 20px;
    line-height: 1.6;
  }

  .social_list {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 280px;
    background-image: url('../img/hero/decorTabTop.png'),
      url('../img/hero/decorTabBottom.png');
    background-position: left calc(50% + 436px) top 106px,
      left calc(50% - 316px) top 575px;
  }
  .hero_button-and-text {
    flex-direction: row;
    gap: 303px;
    margin-bottom: 116px;
  }
  .hero_descr {
    width: 592px;
  }
  .hero_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
  }
  .social_list {
    margin-top: 0;
    margin-bottom: 0;
  }
  /* @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {} */

  .hero-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero_image-container {
    display: block;
    margin-left: 40px;
  }
}
