.my-projects-container {
  background-color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 80px;
}

.my-projects-title {
  margin-bottom: 40px;
  color: #292929;
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.my-projects-title-accent {
  color: #00b068;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  gap: 40px;
}

.my-project-img {
  display: block;
  width: 100%;
  width: 320px;
  height: 184px;
  border-radius: 16px;
}

.project-tech {
  margin-top: 12px;
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.project-name {
  margin-top: 16px;
  width: 320px;
  color: #292929;
  font-family: Poppins;
  font-style: normal;
  font-size: 30px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.my-project-link-container {
  display: flex;
  justify-content: flex-end;
}

.my-project-link {
  margin-top: 16px;
  background-color: #e4e5e6;
  border-radius: 8px;
  color: #292929;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.my-project-link:hover {
  background-color: #bbb;
}

.icon-arrow {
  margin-left: 12px;
}

.load-more-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f0f0f0;
  padding: 12px 24px;
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.load-more-btn:hover {
  color: #00b068;
}

.btn-loadmore::after {
  width: 70%;
  content: '';
  height: 2px;
  border-radius: 2px;
  background: #00b068;
  position: absolute;
  left: 24px;
  bottom: 12px;
}

/* ======== Adaptive for tablet ========*/

@media screen and (min-width: 768px) {
  .my-projects-container {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .my-projects-title {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }

  .projects-list {
    gap: 60px;
  }

  .project-tech {
    margin-top: 16px;
  }

  .my-project-img {
    width: 704px;
    height: 404px;
    border-radius: 24px;
  }

  .project-name {
    margin-top: 20px;
    width: 547px;
    font-size: 36px;
    line-height: 1.3;
  }

  .my-project-name-and-link-container {
    display: flex;
    justify-content: space-between;
  }

  .load-more-btn {
    margin-top: 60px;
  }
}

/* ======== Adaptive for desktop ========*/

@media screen and (min-width: 1280px) {
  .my-projects-container {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .my-projects-title {
    margin-bottom: 80px;
  }

  .projects-list {
    gap: 80px;
  }

  .my-project-img {
    width: 1008px;
    height: 612px;
    border-radius: 24px;
  }

  .project-name {
    width: 763px;
  }

  .load-more-btn {
    margin-top: 80px;
  }
}
