/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./About.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./myProjects.css');
@import url('./reviews.css');
@import url('./techSkills.css');
@import url('./workTogether.css');

:root {
  --black: #292929;
  --accet-green: #603799;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accent: #D1C5E0;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  color: var(--black);
  transition: 0.3s;
}

.dark-mode-on {
  background-color: #1e2023;
  color: var(--white);
}

.container {
  width: 360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.About,
.benefits,
.faq,
.footer,
.header,
.hero,
.myProjects,
.reviews,
.techSkills,
.workTogether {
  overflow-y: hidden;
}
